.table_list {
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.table_cell {
  font-weight: bold;
  padding: 16px;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
}

.status.Ongoing {
  background-color: #FFEB3B;
  color: #000;
}

.status.Completed {
  background-color: #4CAF50;
  color: #fff;
}

.status.Pending {
  background-color: #F44336;
  color: #fff;
}
