.details {
  display: grid;
  grid-template-columns: 17% 83%;
  justify-content: center;
}

.details .detail_page_main .user_info {
  display: grid;
  grid-template-columns: 22% 70%;
  gap: 30px;
  padding: 30px 25px;
}

.details .detail_page_main .user_info .user_detail {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  padding: 20px;
  border-radius: 3px;
  flex: 3;
  height: fit-content;
}

.details .detail_page_main .user_info .user_detail .user_image {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.details .detail_page_main .user_info .user_detail .user_detailss {
  margin-top: 10px;
}

.details .detail_page_main .user_info .user_detail .user_detailss p {
  margin-bottom: 10px;
}

.details .detail_page_main .user_info .user_detail .user_detailss .name {
  font-size: 30px;
}

.details .detail_page_main .user_info .user_chart {
  flex: 9;
}

.details .detail_page_main .table {
  padding: 20px 25px;
}

.details .detail_page_main .table .title {
  color: gray;
  margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
  .details {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .details {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
  }

  .details .detail_page_main .user_info {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    gap: 30px;
  }
}
